/*cabeçalho*/

header img {
    height: 70px;
    width: 70px;
}

header {
    position: relative; /* posiciona o cabeçalho em relação ao seu local normal */
    z-index: 2; /* coloca o cabeçalho acima da div */
  }
  
  .conteudo {
    position: absolute; /* posiciona a div em relação ao elemento pai mais próximo com posição não estática */
    top: 0; /* alinha a div com o topo da página */
    left: 0; /* alinha a div com a esquerda da página */
    z-index: 1; /* coloca a div abaixo do cabeçalho */
  }
  
/*Conteudo principal*/


/*banner*/

#section-banners img{
    height: 500px ;
}

/*Produtos vendidos*/

#section-vendidos {
  text-align: center;
}
#section-vendidos h2 {
  font-weight: bold;
  padding: 20px;
}
#section-vendidos img{
  height: 300px;
  border-radius: 10px;
}
#section-vendidos .card {
  margin: 5px;
  border: 1px solid white;
  border-radius: 10px;
}
#section-vendidos .preco {
  color: red;
  font-size: 18px;
  font-weight: bold;
}

/*Rodapé*/

footer {
  text-align: center;
}
footer p {
  font-weight: bold;
  padding: 10px;
}

/*Botão Voltar topo*/

#voltar-topo{
  position: fixed;
  bottom: 5px;
  right: 50px;
}

/* página de login  */

#section-login {
  margin-top: 100px;
}

#section-login h1 {
  text-align: center;
}

#section-login input {
  width: 100%;
}

/* Formulário de cadastro*/

#section-cadastro {
  padding: 5px;
  text-align: center;
  background-color: #fff;
}
#form-cadastrar {
  padding: 50px;
  display: none;
}